[package]
name = "nd-util"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = { version = "1.0.69", optional = true }
cfg-if = { version = "1.0.0", optional = true }
fd-lock = { version = "3.0.10", optional = true }
reqwest = { version = "0.11.14", default-features = false, optional = true }
tokio = { version = "1.26.0", default-features = false, optional = true }
tracing = { version = "0.1.37", optional = true }

[dev-dependencies]
tokio = { version = "1.26.0", default-features = false, features = [ "macros" ] }

[features]
default = []

download-to-file = ["anyhow", "reqwest", "tokio", "tokio/fs"]

drop-remove-path = ["tokio", "tokio/fs", "tokio/rt", "tokio/io-util", "tracing"]

download-to-path = ["download-to-file", "drop-remove-path", "cfg-if", "fd-lock"]
