name: Rust
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-lint-cargo-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Fmt
        run: cargo fmt --all -- --check
         
      - name: Clippy
        run: cargo clippy --tests --all --all-features -- -D warnings
          
  deny:
    name: Deny
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Deny
        uses: EmbarkStudios/cargo-deny-action@v2
        
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-build-cargo-${{ hashFiles('**/Cargo.lock') }}
          
      - name: Build no features
        run: cargo build --verbose
        
      - name: Build `download-to-file`
        run: cargo build --verbose --features download-to-file
        
      - name: Build `drop-remove-path`
        run: cargo build --verbose --features drop-remove-path
        
      - name: Build `download-to-path`
        run: cargo build --verbose --features download-to-path
        
      - name: Build `arc-anyhow-error`
        run: cargo build --verbose --features arc-anyhow-error

      - name: Run Tests
        run: cargo test --all --verbose --all-features